* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;

    height: 60px;
    margin: auto;

}
.source {
    width: 20%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.traffic {
    width: 40%;
    border-left: 1px solid;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.sales {
    width: 20%;
    border-left: 1px solid;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.sales_child {
    display: flex;
}

.sales_child img {
    margin-right: 10px;
}

.target {
    width: 20%;
    border-left: 1px solid;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.categories li {
    margin-right: 10px;
}